---
title: Designers Welcome!
---

.page.landing
	.row.no-gutter.center-xs
		.col-xs-6.mdl-color--blue 
			%a.mdl-color-text--white.no-underline{:href => "designer.html"}
				%h1{:style => "display: flex;flex-direction: column;justify-content: center;height:calc(100vh - 00px);"}
					%i I'm a 
					%span.shirkhand Designer.

		.col-xs-6.mdl-color--red 
			%a.mdl-color-text--white.no-underline{:href => "hungry.html"}
				%h1{:style => "display: flex;flex-direction: column;justify-content: center;height:calc(100vh - 00px);"}
					.em-alt.em-ultra I am Hungry.
